{% extends 'base.html.twig' %}
{% block title %} {{ article.title}} {% endblock %}
{% block body %}
    <h1>{{ article.title }}</h1>

    <a href='{{ path('home')}}'> Retour </a>

    <p>
        {{article.description}}
    </p>
     {% for tag in article.tags %}
         <span class="tag">
                {{ tag.name }}
        </span>

    {% endfor %} 
    <div>{{ article.createdAt | date('Y/m/d')}}</div>     
{% endblock %}
